/* -------------------------------  RESET  ------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

html {line-height: 1.15; -webkit-text-size-adjust: 100%;}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
hr {box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent; text-decoration: none}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}

[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}

*{-webkit-box-sizing: border-box; box-sizing: border-box;}

details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}

input {outline:none;}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
input[type=text], input[type=submit], textarea {-webkit-appearance: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; -webkit-transition-delay: 9999s;
}
select {outline: 0;}
:focus {outline: none;}

/* -------------------------------  BASE STYLES  ------------------------------- */

body {font-family: 'Euclid Circular A', sans-serif; font-weight: 400; background: #fff; font-size: 14px; line-height: 1.2; color: #160F0F;}
img {width: 100%;}

.wrap {max-width: 1300px; padding: 0 60px; margin: 0 auto;}
.title {font-size: 32px; font-weight: 500;}

@media only screen and (max-width: 800px) {
    .wrap {padding: 0 20px;}
    .title {font-size: 22px;}
}

/* ------------------------------- HOME ------------------------------- */

/* header */

/* ... your code here ... */
.animation-opacity{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
.color-blue{
    color: #0962E8;
}
.btn-blue{
    border-radius: 10px;
    color: #fff;
    padding: 19px 47px;
    text-decoration: none;
    background: #0962E8;
    transition: opacity 0.5s;

}
h2{
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #47646D;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}
.img-mob{
    display: none;
}
.top .top_mob{
    display: none;
}

.top .top_mob img{
    max-width: 40px;
    max-height: 40px;
}

.top .top_mob img:first-child{
    margin-right: 15px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.top #logo{
    max-width: 203px;
}

.top_btn{
    padding: 12px 20px;
}
.btn-blue:hover{
    opacity: 0.8;
}
.invest-easy{
    display: flex;
    margin-top: 115px;
}
.invest-easy_left,.invest-easy_right{
    width: 50%;
    position: relative;
}
.invest-easy_left h2 small{
    font-size: 32px;
}

.invest-easy_left p {
    color: #47646D;
    margin-top: 20px;
}

.invest-easy_left .btn-blue{
    margin-top: 20px;
    margin-bottom: 18px;
    display: inline-block;
}

.invest-easy_left_box_application a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 1px 1px #07152a;
    color: #07152A;
    position: relative;
    padding: 10px 23px 10px 32px;
    font-size: 12px;
    min-width: 122px;
}
.invest-easy_left_box_application a:first-child{
    margin-right: 11px;
    padding-left: 36px;
}
.invest-easy_left_box_application a:last-child img{
    max-width: 36px;
    left: 1px;
}
.invest-easy_left_box_application a img{
    max-width: 25px;
    position: absolute;
    left: 5px;
}

.invest-easy_right_man{
    position: relative;
}
.invest-easy_right_man .invest-easy_right_man_img{
    width: 386px;
    height: auto;
}
.invest-easy_right_item img{
    width: 85px;
    height: 117px;
    position: absolute;
    top: -47px;
}

.invest-easy_right_item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 0 0 auto;
    width: 170.09px;
    height: 195.55px;
    padding: 19px;
    position: relative;
    color: #fff;
}
.invest-easy_right_box{
    display: flex;
}
.invest-easy_right_item .invest-easy_right_item_title{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 11px;
}
.invest-easy_right_item p{
    font-size: 14px;
    line-height: 150%;
}

.invest-easy_right_item.cloc:after,
.invest-easy_right_item.coin:after,
.invest-easy_right_item.proc:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    z-index: -1;
}

.invest-easy_right_item.cloc:after{
    background: linear-gradient(180deg, #FFE1C5 0%, #FF7A00 65.62%);
    backdrop-filter: blur(4px);
    opacity: 0.8;
}

.invest-easy_right_item.coin:after{
    background: linear-gradient(180deg, #99E0FE 26.56%, #488ECC 78.65%);
    backdrop-filter: blur(6px);
    opacity: 0.9;
}
.invest-easy_right_item.proc:after{
    background: linear-gradient(180deg, rgba(151, 186, 219, 0.9) 0%, rgba(6, 43, 97, 0.9) 100%);
    backdrop-filter: blur(4px);
}

.invest-easy_right_item.cloc{
    margin-top: -45px;
    z-index: 1;
    position: relative;
    left: -66px;
}
.invest-easy_right_item.coin{
    position: relative;
    left: -32px;
}
.invest-easy_right_item.proc{
    margin-top: -160px;
    z-index: 1;
    position: relative;
}
.auto-follow .auto-follow_row{
    display: flex;
    margin-top: 110px;
}
.auto-follow .auto-follow_cal{
    width: 50%;
}
.auto-follow .auto-follow_cal img{
    max-width: 422px;
}

.auto-follow .auto-follow_cal .auto-follow_title{
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #47646D;
    max-width: 473px;
}
.auto-follow .auto-follow_cal .auto-follow_text{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #66778F;
    padding-top: 12px;
}


@media (max-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 750px;
    }
    .img-pc{
        display: none;
    }
    .img-mob{
        display: inline-block;
    }
    .invest-easy{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40px;
    }
    .invest-easy_right{
        width: 100%;
    }
    .invest-easy_left{
        width: 452px;
    }
    .invest-easy_right_box{
        justify-content: center;
        margin-top: -45px;
    }
    .invest-easy_right_item.cloc{
        left: -34px;
    }
    .invest-easy_right_item.coin{
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
    }
    .invest-easy_right_item.proc{
        margin-top: 0;
        right: -38px;
    }
    .invest-easy_right_man{
        text-align: center;
    }
    .invest-easy_right_item{
        margin: 11px;
    }
    .invest-easy_left_box{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 35px;
    }
    .invest-easy_left_box_application a{
        padding: 17px 23px 17px 32px;
    }
    .auto-follow .auto-follow_row{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .auto-follow .auto-follow_cal {
        width: 100%;
    }
    .auto-follow .auto-follow_cal img{
        margin: auto;
        display: block;
    }
    .auto-follow .auto-follow_cal .auto-follow_title{
        margin: auto;
    }
}
.next_block{
    height: 300px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .top .top_mob{
        display: flex;
    }

    .top .top_btn{
        display: none;
    }
}

@media (max-width: 480px) {
    h2{
        font-size:32px;
    }
    .invest-easy_left{
        width: auto;
    }
    .invest-easy_right_item.proc{
        right: 0;
    }
    .invest-easy_right_item.cloc{
        left: 0;
    }
    .invest-easy_right_man .invest-easy_right_man_img{
        width: 320px;
    }
    .invest-easy_right_item{
        width: 135px;
        height: 132px;
        padding: 14px;
    }
    .invest-easy_right_item img{
        width: 52px;
        height: 63px;
        top: -29px;
    }
    .invest-easy_right_item p{
        font-size: 11px;
    }
    .invest-easy_right_item .invest-easy_right_item_title{
        padding-bottom: 2px;
    }
}



