<div class="container animation-opacity">
    <div class="top">
        <img id="logo" src="/images/logo.png" alt="logo copyBro">
        <a class="top_btn btn-blue" href="#">Установить</a>
        <div class="top_mob">
            <img src="/images/icans/android.png" alt="android copyBro">
            <img src="/images/icans/ios.png" alt="ios copyBro">
        </div>
    </div>

    <div class="invest-easy">
        <div class="invest-easy_left">
            <h2>
                <span class="color-blue">Инвестируйте легко</span> <br>
                и получайте доход <br>
                <span class="color-blue">+51,9%</span> <small>годовых</small>
            </h2>
            <p>
                Выбирайте стратегии успешных трейдеров <br>
                и копируйте сделки в авторежиме. Зарабатывайте <br>
                легко и с минимальными рисками через мобильное <br>
                приложение Сopybro.
            </p>
            <div class="invest-easy_left_box">
                <a class="btn-blue" href="#">Установить приложение</a>
                <div class="invest-easy_left_box_application">
                    <a href="#"><img src="/images/icans/android.png" alt=""> Google Pay</a>
                    <a href="#"><img src="/images/icans/ios.png" alt=""> App Store</a>
                </div>
            </div>
        </div>

        <div class="invest-easy_right">
            <div class="invest-easy_right_man">
                <img class="invest-easy_right_man_img img-pc" src="/images/business-with-phone-man-pc.png" alt="">
                <img class="invest-easy_right_man_img img-mob" src="/images/business-with-phone-man.png" alt="">
            </div>
            <div class="invest-easy_right_box">
                <div class="invest-easy_right_item cloc">
                    <img src="/images/cloc.png" alt="Сэкономленного времени 60 мин в день">
                    <div class="invest-easy_right_item_title">60 Мин</div>
                    <p>
                        Сэкономленного времени <br>
                        в день
                    </p>
                </div>

                <div class="invest-easy_right_item coin">
                    <img src="/images/coin.png" alt=" Платите от 0,0₽ комисси только с прибыли">
                    <div class="invest-easy_right_item_title">от 0,0₽</div>
                    <p>
                        Платите комиссию <br>
                        только с прибыли
                    </p>
                </div>

                <div class="invest-easy_right_item proc">
                    <img src="/images/proc.png" alt="Средняя годовая доходность 51,9%">
                    <div class="invest-easy_right_item_title">51,9%</div>
                    <p>
                        Средняя годовая <br>
                        доходность
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container animation-opacity">
    <div class="auto-follow">
        <div class="auto-follow_row">
            <div class="auto-follow_cal">
                <img src="/images/search.png" alt="search">
            </div>
            <div class="auto-follow_cal">
                <h2 class="auto-follow_title">
                    Автоследование: <br> <span class="color-blue">минимальные <br>риски,</span> оптимальная <br> доходность
                </h2>
                <p class="auto-follow_text">
                    Мы собрали для вас лучшие торговые стратегии
                    с подтвержденными данными по прошлым сделкам
                    и их доходности.
                    Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container animation-opacity">
    <div class="next_block">

    </div>
</div>